#play-button {
    position: relative;
    width:100px;
    height:30px;
    top: 50%;
    left:45%;
    margin-left: -160px;
    bottom: 0;
    z-index:10;
}


#play-button {
    position: relative;
    width:150px;
    height:150px;
    top: 30%;
    left:55%;
    margin-left: -150px;
    bottom: 0;
    z-index:10;
    align-items: center;
    background-image: linear-gradient(289deg,#56bd9a, #4597dd 50%,#00DDEB);
    border: 0;
    border-radius: 50%;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

#play-button:active,
#play-button:hover {
    outline: 0;
}

#play-button-content {
    position: absolute;
    text-align: center;
    font-family: "Arial Black", sans-serif;
    top: 50%;
    left:44%;
    margin-left: -150px;
    bottom: 0;
    z-index:8;

    .span {
        color: #1c1b1b;
    }
}

#play-button-content h1 {
    color: #ce2619;
}
/*Apply screen width < 400 px */
@media only screen and (max-width: 400px), only screen and (min-width: 300px) {
    #play-button {
        left: 80%;
        height: 100px;
        width: 100px;
    }
}
/*IPhone 14 Pro Max  */
@media only screen and (width: 430px) {
    #play-button {
        left: 78%;
        height: 100px;
        width: 100px;
    }
}
/*Apply screen width > 400 px */
@media only screen and (width: 414px) {
    #play-button {
        left: 78%;
        height: 100px;
        width: 100px;
    }
}

@media only screen and (min-width: 768px) {
    #play-button {
        left: 62%;
        height: 150px;
        width: 150px;
        font-size: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    #play-button {
        left: 60%;
        height: 200px;
        width: 200px;
        font-size: 30px;
    }
}
@media only screen and (min-width: 1080px) {
    #play-button {
        width:150px;
        height:150px;
        left:55%;
    }
}

@media only screen and (max-height: 1000px) {
    #play-button {
        top: 55%;
    }
}

@media only screen and (max-height: 1500px) {
    #play-button {
        top: 45%;
    }
}
@media only screen and (max-width: 700px) {
    #play-button {
        left: 80%;
        height: 100px;
        width: 100px;
    }
}